<!-- =========================================================================================
    File Name: Transaction.vue
    Description: Transaction Page
========================================================================================== -->
<template>
  <div class="row sm-gutters transactions">
    <div class="col-md-3" v-if="!((data.action == 'Deposit') || (data.action == 'Withdraw'))">        
        <b-card :title="`${data.title}`">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <b-form-group>
                          <b-form-checkbox-group
                            v-model="data.selected"
                            :options="data.options"
                            class="mb-3"
                            value-field="item"
                            text-field="name"
                            disabled-field="notEnabled"
                            plain
                            stacked
                            @change="onChangeFilters"
                          ></b-form-checkbox-group>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
        </b-card>
    </div>
    <div class="col-md-3" v-if="((data.action == 'Deposit') || (data.action == 'Withdraw'))">      
      <b-card :title="`${data.title}`">
        <b-form-group label="Select Currency" class="payment-method">
          <b-form-select v-model="wallet_id" :options="data.wallets" @change="selectCurrency(wallet_id)"></b-form-select>
        </b-form-group>
        <b-card-text class="label-balance-text">{{ $t('transactions.availableBalance') }}</b-card-text>
        <b-card-text class="label-balance-amount">{{ `${data.selectedWallet.text || ''} ${data.selectedWallet.balance || '0.00'}` }}</b-card-text>
        <b-input-group class="mt-3 mb-3" :append="`${data.selectedWallet.text || ''}`">
          <b-form-input v-model="amount" type="number"></b-form-input>
        </b-input-group>
        <b-form-group label="Payment Method" class="payment-method">
          <b-form-radio @change="clearMOP"
            v-model="data.paymentMethod" 
            name="payment-method"   
            :value="method.name"
            v-for="(method, m) in data.mops" :key="m"
            >{{ method.name }}</b-form-radio>
        </b-form-group>
        <b-form-group label="Bank Information" class="bank-information" v-if="(data.paymentMethod=='Bank Transfer') || (data.paymentMethod=='Korean Bank Transfer')">
          <b-form-group label="Bank Name" class="bank-details">
            <b-form-input v-model="mop.bank"></b-form-input>
          </b-form-group>
          <b-form-group label="Account Name" class="bank-details">
            <b-form-input v-model="mop.account_name"></b-form-input>
          </b-form-group>
          <b-form-group label="Account Number" class="bank-details">
            <b-form-input v-model="mop.account_number"></b-form-input>
          </b-form-group>
        </b-form-group>
        <b-form-group label="Address" class="btc-address" v-if="(data.paymentMethod == 'Blockchain')">
            <b-form-input placeholder="Enter your BTC Address" v-model="mop.account_number"></b-form-input>
          </b-form-group>
        <b-button variant="primary" @click="submit">
          {{ data.action }}
        </b-button>
      </b-card>
    </div>
    <div class="col-md-9">
      <b-alert v-bind:variant="notif.variant" :show="notif.show" dismissible
      v-for="(notif, m) in data.notifications" :key="m"
        >{{notif.message}}
      </b-alert>
      <b-card :title="data.header" class="history-header">
        <b-container fluid>
          <b-row>
            <b-col class="pl0 pr0">
              <b-card class="history">
                <b-container fluid>
                  <b-row>
                    <b-col class="pl0">
                      <b-pagination
                        v-model="currentPage"
                        :total-rows="data.items.length"
                        :per-page="perPage"
                        aria-controls="my-table"
                      ></b-pagination>
                    </b-col>
                    <b-col class="pr0">
                      <b-input-group>
                        <b-form-input placeholder="Search..." v-model="searchee"></b-form-input>
                        <b-input-group-append>
                          <b-button variant="info" @click="downloadCSV(data.items, data.action)">{{ $t('transactions.exportCSV') }}</b-button>
                        </b-input-group-append>
                      </b-input-group>
                    </b-col>
                  </b-row>
                  <b-row class="data-transactions pt15">
                    <b-table
                      :items="data.items"
                      :fields="data.fields"
                      :per-page="perPage"
                      :current-page="currentPage"
                      :filter="searchee"
                      ></b-table>
                  </b-row>
                  <b-row class="mt10">
                    <b-col cols="6" class="pl0">                      
                    </b-col>
                    <b-col cols="6" class="paginate">
                      <b-pagination
                        v-model="currentPage"
                        :total-rows="data.items.length"
                        :per-page="perPage"
                        aria-controls="my-table"
                      ></b-pagination>
                    </b-col>
                  </b-row>
                </b-container>
              </b-card>
            </b-col>
          </b-row>
          <b-row v-if="((data.action == 'Deposit') || (data.action == 'Withdraw'))">
            <b-col class="pl0 mt15">
              <b-button variant="info" @click="$router.push('/transactions')">
                  {{ $t('transactions.seeAllTransactions') }}
              </b-button>
            </b-col>
          </b-row>
        </b-container>
      </b-card>      
    </div>
    <b-modal id="modal-transaction" no-close-on-backdrop hide-header hide-footer>
      <img class="modal-image" src="~/assets/img/money.png" alt="">
      <p class="please-wait">{{ $t('transactions.pleaseWait') }}</p>
    </b-modal>
  </div>
</template>
<script>

import DataTable from './DataTable';
import transactions from '~/mixins/transactions.js';

export default {
  name: 'Deposits',
  layout: 'ExchangeLayout',
  mixins: [ transactions ],
  props: ['data', 'selectCurrency'],
  components: {
    DataTable
  },
  data() {
      return {
        items: [],
        currentPage: 1,
        rows: 0,
        perPage: 10,
        wallet_id: null,
        amount: null,
        mop: {
          bank: null,
          account_name: null,
          account_number: null
        },
        timerHandler: null,
        searchee: null
      }
  },
  methods: {
    getImgUrl(pic) {
        return require('~/assets/img/icon/'+pic+ '.png');
    },
    async submit() {
      let url = "transactions/" + this.data.action.toLowerCase();

      if (this.data.paymentMethod == 'Blockchain') {
        this.mop.bank = "Blockchain";
        this.mop.account_name = "Coinpayments";
      }
      const data = {
        amount: this.amount,
        wallet_id: this.wallet_id,
        bank: this.mop.bank,
        account_name: this.mop.account_name,
        account_number: this.mop.account_number,
        mop: this.data.paymentMethod
      }

      this.data.notifications = [];
      if (this.$_.isNull(this.wallet_id)) {
        this.data.notifications.push({
          variant: "danger",
          show: true,
          message: this.$t('The currency field is required.')
        });
      }
      if (this.$_.isNull(this.amount)) {
        this.data.notifications.push({
          variant: "danger",
          show: true,
          message: this.$t('The amount field is required.')
        });
      }
      if (this.$_.isNull(this.data.paymentMethod)) {
        this.data.notifications.push({
          variant: "danger",
          show: true,
          message: this.$t('The payment method field is required.')
        });
      }
      if (this.$_.isNull(this.mop.bank)) {
        this.data.notifications.push({
          variant: "danger",
          show: true,
          message: this.$t('The bank field is required.')
        });
      }
      if (this.$_.isNull(this.mop.account_name) && ((this.data.paymentMethod == "Bank Transfer") || (this.$_).isNull(this.data.paymentMethod))) {
        this.data.notifications.push({
          variant: "danger",
          show: true,
          message: this.$t('The account name field is required.')
        });
      }
      if (this.$_.isNull(this.mop.account_number)) {
        this.data.notifications.push({
          variant: "danger",
          show: true,
          message: this.$t('The account number field is required.')
        });
      }

      if (this.data.notifications.length > 0) {
        this.data.notifications.unshift({
          variant: "danger",
          show: true,
          message: this.$t('The given data is invalid.')
        });
        return false;
      }

      this.$bvModal.show('modal-transaction');

      const trans = await this.callApi('post', url, data);

      if (!this.$_.isNull(trans["wallet_id"]) && !this.$_.isUndefined(trans["wallet_id"])) {
        this.data.notifications = [{
            variant: "success",
            show: true,
            message: this.$t('%s successfully sent!'.replace("%s", this.getType(this.data.action)))
        }];

        /**
         * Add data to the lists if succeeds.
         */
        this.data.items.unshift({...trans, date: trans.created_at, currency: this.data.selectedWallet.text});

        this.clearAll();
      } else {
        if (!this.$_.isNull(trans["message"]) && !this.$_.isUndefined(trans["message"])) {
          this.data.notifications.unshift({
            variant: "danger",
            show: true,
            message: trans.message
          });
        }
      }     
      this.$bvModal.hide('modal-transaction');           
    },
    clearMOP() {
      this.mop ={
        bank: null,
        account_name: null,
        account_number: null
      }
    },
    clearAll() {
      this.clearMOP();
      this.amount = null;
      this.data.paymentMethod = null;
    },
    filterTrans(row, filter) {
      return filter.includes(row.type);
    },
    onChangeFilters() {
      if (this.items.length === 0) {
        this.items = this.data.items;
      }
      clearTimeout(this.timerHandler);
      this.timerHandler = setTimeout(() => {
        this.data.items = this.items.filter((item) => {
          return this.data.selected.includes(item.type);
        });
      }, 10);
      
    }
  },
  created() {
  },
  watch:{
      // set selected value
     'data.selectedWallet': function(newSelectedWalletObj, oldSelectedWalletObj){
         this.wallet_id = newSelectedWalletObj.wallet_id;
     }
  }
}
</script>

<style lang="scss">

@import "~/assets/scss/dark-themes.scss";

#dark {
    .transactions {
      .history-header {
          .card-title {
              padding-left: 15px;
          }
      }
      .card {
          background: $bg-dark;
          box-shadow: $bg-shadow;
          border-radius: 5px;

          b-form-select {
            width: 100%;
          }
          .dropdown {
            
            img {
              height: 50px;
            }

            .dropdown-item {
              color: $color-font-light;
            }
          }
      }
      .card-title,
      .card-text,
      .card-text {
          color: $color-font-light;
      }
      .card-text {
          &.label-balance-text {
              margin-bottom: 0;
          }
          &.label-balance-amount {
              font-weight: 900;
              font-size: 20px;
          }
      }
      .form-group {
          color: $color-font-light;
          &.payment-method legend {
              font-size: 18px;
              font-weight: bold;
          }
          &.bank-information {
              legend {
                  font-size: 18px;

                  .bold-text {
                      font-weight: bold;
                  }
              }
          }
          .bank-details legend {
              font-weight: normal;
              font-size: 14px;
          }
      }
      .pagination {
          .page-link {
              background: $bg-dark;
              color: $color-font-light;
          }
          .page-item.active .page-link {
              background: $bg-light;
              color: $color-font-dark;
              border: 1px solid $bg-light;
          }
      }
      .paginate {
          display: flex;
          justify-content: flex-end;
      }
      .data-transactions {
          overflow: scroll;
          margin-bottom: 10px;
          .data-table {
              width: 100%;
          }
      }
      .history {
          box-shadow: $bg-light 0px 2px 13px -6px;
      }
      .input-group-text {
          color: $color-font-light;
          background: #007bff;
          border-color: #007bff;
      }
    }
    #modal-transaction {
      text-align: center;
      .modal-image {
        height: 200px;
      }
    }
}

</style>
