<!-- =========================================================================================
    File Name: MarketTrade.vue
    Description: MarketTrade
========================================================================================== -->
<template>
  <div class="market-trade mt15">
    <b-tabs>
      <div v-for="(type, t) in transTypes" :key="t">
        <b-tab :title="type.name" @click="currentIndex = t">
          <p>{{notif[t]}}</p>
          <b-alert v-bind:variant="notif.variant" v-model="notif.show" dismissible>{{notif.message}}</b-alert>
          <div class="d-flex justify-content-between">
            <div class="market-trade-buy" v-if="dataBuy[t]">
              <div class="input-group">
                <input type="number" class="form-control" :placeholder="$t('exchange.price')"
                v-model="buyPrice[t]" max="10"/>
                <div class="input-group-append">
                  <span class="input-group-text">KRW</span>
                </div>
              </div>
              <div class="input-group">
                <input type="number" class="form-control" :placeholder="$t('exchange.amount')"
                  v-model="dataBuy[t].target_amount" disabled/>
                <div class="input-group-append">
                  <span class="input-group-text">BTC</span>
                </div>
              </div>
              <ul class="market-trade-list">
                <li>
                  <a href="#!">25%</a>
                </li>
                <li>
                  <a href="#!">50%</a>
                </li>
                <li>
                  <a href="#!">75%</a>
                </li>
                <li>
                  <a href="#!">100%</a>
                </li>
              </ul>
              <p>
                {{ $t('exchange.available') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <p>
                {{ $t('exchange.volume') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <p>
                {{ $t('exchange.margin') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <p>
                {{ $t('exchange.fee') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <button class="btn buy" @click="transBuy">{{ $t('exchange.buy') }}</button>
            </div>
            <div class="market-trade-sell" v-if="dataSell[t]">
              <div class="input-group">
                <input type="number" class="form-control" :placeholder="$t('exchange.price')"
                  v-model="sellPrice[t]"/>
                <div class="input-group-append">
                  <span class="input-group-text">BTC</span>
                </div>
              </div>
              <div class="input-group">
                <input type="number" class="form-control" :placeholder="$t('exchange.amount')"
                  v-model="dataSell[t].target_amount" disabled/>
                <div class="input-group-append">
                  <span class="input-group-text">KRW</span>
                </div>
              </div>
              <ul class="market-trade-list">
                <li>
                  <a href="#!">25%</a>
                </li>
                <li>
                  <a href="#!">50%</a>
                </li>
                <li>
                  <a href="#!">75%</a>
                </li>
                <li>
                  <a href="#!">100%</a>
                </li>
              </ul>
              <p>
                {{ $t('exchange.available') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <p>
                {{ $t('exchange.volume') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <p>
                {{ $t('exchange.margin') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <p>
                {{ $t('exchange.fee') }}:
                <span>0 BTC = 0 USD</span>
              </p>
              <button class="btn sell" @click="transSell">{{ $t('exchange.sell') }}</button>
            </div>
          </div>
        </b-tab>
      </div>

    </b-tabs>
  </div>
</template>
<script>

import transactions from '~/mixins/transactions.js';

export default {
  name: 'MarketTrade',
  mixins: [ transactions ],
  data() {
    return {
      wallet_id: null,
      dataBuy: [],
      dataSell: [],
      buyPrice: [],
      sellPrice: [],
      currentIndex: 0,
      transTypes: [
        {
          key: 1,
          name: this.$t('exchange.direct')
        },
        {
          key: 2,
          name: this.$t('exchange.stopLimit')
        }
      ],
      notif: {
        show: false,
        variant: null,
        message: null
      }
    }
  },
  methods: {
    async transBuy() {
      this.notif = {};
      if (this.$_.isNull(this.buyPrice[this.currentIndex]) || this.$_.isEmpty(this.buyPrice[this.currentIndex])) {
        this.notif = {
          variant: "danger",
          show: true,
          message: this.$t('The given data is invalid.')
        }
        return false;
      }
      const url = "transactions/buy";
      this.dataBuy[this.currentIndex].order_amount = this.buyPrice[this.currentIndex];
      const trans = await this.callApi('post', url, this.dataBuy[this.currentIndex]);
      if (this.$_.has(trans, "buy_id")) {
        this.notif = {
          show: true,
          variant: "success",
          message: this.$t("Order buy successfully saved!")
        }
      } else if (this.$_.has(trans, "message")) {
        this.notif = {
          show: true,
          variant: "danger",
          message: this.$t('The given data is invalid.')
        }
      }
    },
    async transSell() {
      if (this.$_.isNull(this.sellPrice[this.currentIndex]) || this.$_.isEmpty(this.sellPrice[this.currentIndex])) {
        this.notif = {
          variant: "danger",
          show: true,
          message: this.$t('The given data is invalid.')
        }
        return;
      }
      const url = "transactions/sell";
      this.dataSell[this.currentIndex].order_amount = this.sellPrice[this.currentIndex];
      const trans = await this.callApi('post', url, this.dataSell[this.currentIndex]);
      if (this.$_.has(trans, "sell_id")) {
        this.notif = {
          show: true,
          variant: "success",
          message: "Order sell successfully saved!"
        }
      } else if (this.$_.has(trans, "message")) {
        this.notif = {
          show: true,
          variant: "danger",
          message: this.$t('The given data is invalid.')
        }
      }
    },
    calculate(trans) {

      if (trans === 1) { //Buy Transaction
      /**
       * current_value will be based from the system.
       */
      this.dataBuy[this.currentIndex].target_amount = this.dataBuy[this.currentIndex].current_value * this.buyPrice[this.currentIndex];
        /**
       * Transaction fee is 5% of the target amount
       */
      this.dataBuy[this.currentIndex].fee = this.dataBuy[this.currentIndex].target_amount * 0.05;

      } else if (trans === 2) { //Sell Tranasction
        /**
       * Transaction fee is 5% of the target amount
       */
      this.dataSell[this.currentIndex].fee = this.dataSell[this.currentIndex].target_amount * 0.05;
      /**
       * current_value will be based from the system.
       */
      this.dataSell[this.currentIndex].target_amount = this.sellPrice[this.currentIndex] / this.dataSell[this.currentIndex].current_value;
      }

    }
  },
  watch: {
    'buyPrice': function() {
      this.calculate(1);
    },
    'sellPrice': function() {
      this.calculate(2);
    }
  },
  async created() {
    const wallets = await this.callApi('get', 'wallets');

    this.wallet_id = wallets.filter((wallet) => {
      return wallet.currency === 'KRW'
    })[0].wallet_id;

    /**
     * Initialize value by its type.
     * Type => 1: Direct, 2: Stop Limit
     */
    this.dataBuy = [];
    this.buyPrice = [];
    this.dataSell = [];
    this.sellPrice = [];
    this.$_.map(this.transTypes, (type) => {
      this.buyPrice.push[null];
      this.sellPrice.push[null];
      this.dataBuy.push({
        wallet_id: this.wallet_id,
        target_amount: null,
        current_value: 0.005, //current_value will be based from the system. Set default value for now.
        destination_currency: 'BTC',
        fee: null,
        type: type.key
      });
      this.dataSell.push({
        wallet_id: this.wallet_id,
        target_amount: null,
        current_value: 0.005, //current_value will be based from the system. Set default value for now.
        destination_currency: 'BTC',
        fee: null,
        type: type.key
      });
    });
  }
}
</script>