<!-- =========================================================================================
    File Name: MarketHistory.vue
    Description: MarketHistory
========================================================================================== -->
<template>
  <div class="market-history market-order mt15">
    <b-tabs>
      <b-tab :title="$t('exchange.openOrders')">
        <b-table
          :items="items"
          :fields="fields"></b-table>
        <span class="no-data" v-if="items.length == 0">
            <i class="icon ion-md-document"></i>
            {{ $t('exchange.noData') }}
        </span>
      </b-tab>
      <b-tab :title="$t('exchange.closedOrders')">
        <b-table
          :items="[]"
          :fields="fields"></b-table>
        <span class="no-data">
            <i class="icon ion-md-document"></i>
            {{ $t('exchange.noData') }}
        </span>
      </b-tab>
      <b-tab :title="$t('exchange.orderHistory')">
        <b-table
          :items="[]"
          :fields="fields"></b-table>
        <span class="no-data">
            <i class="icon ion-md-document"></i>
            {{ $t('exchange.noData') }}
        </span>
      </b-tab>
      <b-tab t:title="$t('exchange.balance')">
        <b-table
          :items="items"
          :fields="fields"></b-table>
        <span class="no-data" v-if="items.length == 0">
            <i class="icon ion-md-document"></i>
            {{ $t('exchange.noData') }}
        </span>
      </b-tab>
    </b-tabs>
  </div>
</template>
<script>

import DataTable from '~/components/shared/DataTable';

export default {
  name: 'MarketHistory',
    components: {
      DataTable
    },
    data() {
        return {
          fields: [
            {
              key: 'time',
              label: this.$t('exchange.time')
            },
            {
              key: 'all_pairs',
              label: this.$t('exchange.allPairs')
            },
            {
              key: 'all_types',
              label: this.$t('exchange.allTypes')
            },

            {
              key: 'buy_sell',
              label: this.$t('exchange.buySell')
            },
            {
              key: 'price',
              label: this.$t('exchange.price')
            },
            {
              key: 'amount',
              label: this.$t('exchange.amount')
            },
            {
              key: 'executed',
              label: this.$t('exchange.executed')
            },
            {
              key: 'unexecuted',
              label: this.$t('exchange.unexecuted')
            }
          ],
          items: [
            { 
              'time': 0.022572,
              'all_pairs': 1.253415,
              'all_types': 15.27648,
              'buy_sell': 0.022572,
              'price': 1.253415,
              'amount': 15.27648,
              'executed': 1.253415,
              'unexecuted': 15.27648
            },
            { 
              'time': 0.022572,
              'all_pairs': 1.253415,
              'all_types': 15.27648,
              'buy_sell': 0.022572,
              'price': 1.253415,
              'amount': 15.27648,
              'executed': 1.253415,
              'unexecuted': 15.27648
            },
            { 
              'time': 0.022572,
              'all_pairs': 1.253415,
              'all_types': 15.27648,
              'buy_sell': 0.022572,
              'price': 1.253415,
              'amount': 15.27648,
              'executed': 1.253415,
              'unexecuted': 15.27648
            }
          ],
        }
    }
}
</script>