<!-- =========================================================================================
    File Name: Profile.vue
    Description: Profile
========================================================================================== -->
<template>
    <div class="profile">
        <div class="card">
            <div class="card-body">
                <b-alert v-bind:variant="notif.variant" :show="notif.show">{{notif.message}}</b-alert>
                <h5 class="card-title">General Information</h5>
                <div class="settings-profile">
                    <form>
                        <div class="form-row mt-4">
                            <div class="col-md-6">
                                <label for="username">Username</label>
                                <input id="username" type="text" name="username" disabled class="form-control" placeholder="Username" v-model="user.username">
                            </div>
                            <div class="col-md-6">
                                <label for="name">Name</label>
                                <input id="name" type="text" name="name" disabled class="form-control" placeholder="Name" v-model="user.name">
                            </div>
                            <div class="col-md-6">
                                <label for="emailAddress">Email</label>
                                <input id="emailAddress" type="text" name="email" class="form-control" placeholder="Enter email address" v-model="user.email">
                            </div>
                            <div class="col-md-6">
                                <label for="phoneNumber">Phone</label>
                                <input id="phoneNumber" type="text" name="phone" class="form-control" placeholder="Enter phone number" v-model="user.phone">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bank Account</h5>
                <div class="settings-profile">
                    <form>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="bank">Bank Name</label>
                                <input id="bank" type="text" class="form-control" placeholder="Enter bank name" v-model="user.bank">
                            </div>
                            <div class="col-md-6">
                                <label for="accountName">Bank Account Name</label>
                                <input id="accountName" type="text" class="form-control" placeholder="Enter account name" v-model="user.account_name">
                            </div>
                            <div class="col-md-6">
                                <label for="accountNumber">Bank Account Number</label>
                                <input id="accountNumber" type="text" class="form-control" placeholder="Enter account number" v-model="user.account_number">
                            </div>
                            <div class="col-md-12">
                                <button type="button" v-on:click="updateCustomerInfo">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ax from '@/axiosInstance';
export default {
    name: 'Profile',
    data() {
        return {
            user: this.$cookiz.get('user'),
            notif: {
                variant: 'success',
                show: false,
                message: String,
            }
        }
    },
    methods: {
        updateCustomerInfo() {
                var input = this.getCustomerInput();
                this.update(input);
        },
        getCustomerInput() {
            return {
                email: this.user.email,
                phone: this.user.phone,
                bank: this.user.bank,
                account_name: this.user.account_name,
                account_number: this.user.account_number,
            }
        },
        update(data) {
            this.notif.show = false;
            ax.patch('info',
                data
            ).then((resp) => {
                this.notif = {
                    variant: 'success',
                    show: true,
                    message: resp.data.message
                };
                var userCookies = this.$cookiz.get('user');
                var input = this.getCustomerInput();
                this.$cookiz.set('user', Object.assign(userCookies, input));
            }).catch((e) => {
                this.notif = {
                    variant: 'danger',
                    show: true,
                    message: 'Something went wrong. Please try again.'
                };
            });
        }
    }
}
</script>