<!-- =========================================================================================
    File Name: Wallet.vue
    Description: Wallet
========================================================================================== -->
<template>
  <div class="wallet">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
          <a v-for="(item, index) in $store.state.wallet.wallets" v-bind:key="index"
            v-bind:class="[item.currency == $store.state.wallet.selectedWallet.currency ? 'active' : '', '']"
            class="nav-link d-flex justify-content-between align-items-center"
            data-toggle="pill"
            href="#"
            role="tab"
            aria-selected="true"
            @click="walletClick(item)"
          >
            <div class="d-flex">
              <img :src="getIcon(item.currency)" :alt="item.currency" />
              <div>
                <h2>{{item.currency}}</h2>
                <p>{{getCurrencyName(item.currency)}}</p>
              </div>
            </div>
            <div>
              <h3>{{item.balance}}</h3>
              <p class="text-right" v-if="item.currency != 'KRW'">
                <i class="icon ion-md-lock"></i>45678.0000
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-12 col-lg-8">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="coinBTC" role="tabpanel">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Balances</h5>
                <ul v-if="Object.keys($store.state.wallet.selectedWallet).length > 0">
                  <li class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <h2><img :src="getIcon($store.state.wallet.selectedWallet.currency)" width="40px;" height="40px;" alt="krw">Total Equity</h2>
                    </div>
                    <div>
                      <h3>{{getBalanceByCurrency($store.state.wallet.selectedWallet.currency)}}</h3>
                    </div>
                  </li>
                  <li class="d-flex justify-content-between align-items-center" v-if="$store.state.wallet.selectedWallet.currency != 'KRW'">
                    <div class="d-flex align-items-center">
                      <img src="/_nuxt/assets/img/icon/krw.png" width="40px;" height="40px;" alt="krw">
                      <h2>KRW</h2>
                    </div>
                    <div>
                      <h3>45678.0000</h3>
                    </div>
                  </li>
                </ul>
                <button class="btn green" @click="depositClick()" v-if="getCurrencyConfig($store.state.wallet.selectedWallet.currency).isEnabledDeposit">Deposit</button>
                <button class="btn red" @click="withdrawClick()" v-if="getCurrencyConfig($store.state.wallet.selectedWallet.currency).isEnabledWithdrawal">Withdraw</button>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Wallet Deposit Address</h5>
                <div class="row wallet-address">
                  <div class="col-md-8">
                    <p>
                      Deposits to this address are unlimited. Note that you
                      may not be able to withdraw all of your funds at once if
                      you deposit more than your daily withdrawal limit.
                    </p>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        value="Ad87deD4gEe8dG57Ede4eEg5dREs4d5e8f4e"
                      />
                      <div class="input-group-prepend">
                        <button class="btn btn-primary">COPY</button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img src="~/assets/img/qr-code-light.svg" alt="qr-code" />
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Latest Transactions</h5>
                <div class="wallet-history">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Currency</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(item, index) in transactions" v-bind:key="index">
                        <td>{{item.date}}</td>
                        <td>{{item.currency}}</td>
                        <td>{{type[item.type-1]}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{status[item.status-1]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import currencyHelper from '~/helpers/currencyHelper';
import transactions from '~/mixins/transactions.js';

export default {
  name: 'Wallet',
  mixins: [transactions],
  data() {
    return {
      iconPath: '/_nuxt/assets/img/icon/',
      currencyConfig: [
        {'currency': 'KRW', 'isEnabledDeposit' : true, 'isEnabledWithdrawal' : true}
      ],
      latestTransactionsResult: 10,
      transactions: [],
      type: ['Deposit','Withdrawal'],
      status: ['Pending', 'Processing', 'Completed', 'Rejected']
    }
  },
  async created() {
    // set wallets to state
    this.$store.dispatch('GET_WALLETS');
    this.getLatesTransactions();
  },
  methods: {
    async getLatesTransactions() {
      let deposits = await this.callApi('get', 'transactions/deposits');
      let withdrawals = await this.callApi('get', 'transactions/withdrawals');

      deposits = deposits.map((item) => {
        return {...item, type: 1};
      });
      withdrawals = withdrawals.map((item) => {
        return {...item, type: 2};
      });

      var transactions = ([...deposits, ...withdrawals]);

      // sort by latest date
      transactions.sort((a,b) => 
        (a.date > b.date) ? -1 : 1
      );

      // transaction results limit
      this.transactions = transactions.filter(
          (val, i) => i < this.latestTransactionsResult
      );
    },
    getBalanceByCurrency(currency) {
      var wallets = this.$store.state.wallet.wallets;
      var wallet = wallets.find((w) => 
        w.currency == currency
      );

      if (wallet && wallet.balance) {
        return wallet.balance;
      }

      return 0;
    },
    walletClick(wallet) {
      this.$store.dispatch('SET_SELECTED_WALLET', wallet);
    },
    getIcon(name) {
      if (!name) {
        return '';
      }
      return this.iconPath + name.toLowerCase() + '.png';
    },
    getCurrencyName(currency) {
      return (!currency) 
        ? '' 
        : currencyHelper.currencyDescription.find((c) => 
            c.currency == currency
          ).name;
    },
    depositClick() {
      this.$router.push('/deposits');
    },
    withdrawClick() {
      this.$router.push('/withdrawals');
    },
    getCurrencyConfig(currency) {
      var config = this.currencyConfig.find((cc) => 
        cc.currency == currency
      );
      return (config) ? config : {};
    }
  },
}
</script>
