<!-- =========================================================================================
    File Name: i18n.vue
    Description: Locales component
========================================================================================== -->
<template>
    <div>
        <a
            class="nav-link dropdown-toggle"
            href="javascript:void(0);"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            @click="toggleLang"
        >
            <img :src="getImgUrl(lang.flag)" alt="flag" />&nbsp;
            <span>{{ lang.name }}</span>
        </a>
        <div class="dropdown-menu" :class="{ show: showLang }" @click="toggleLang">
            <div class="dropdown-body">
            <ul class="profile-nav">
                <li class="nav-item" v-for="(lang, l) in langs" :key="l">
                <a href="#" class="nav-link" @click="translate(lang)">
                    <img :src="getImgUrl(lang.flag)" alt="flag" />&nbsp;
                    <span>{{ lang.name }}</span>
                </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "i18n",
        props: [ "toggleLang", "showLang" ],
        data() {
            return {
                lang: {
                    name: "English",
                    flag: 'us.png'
                },
                langs: [
                {
                    name: 'English',
                    locale: 'en',
                    flag: 'us.png'
                },
                {
                    name: '한국어',
                    locale: 'kr',
                    flag: 'ko-kr.png'
                },
                {
                    name: '中文',
                    locale: 'zh',
                    flag: 'zh-cn.png'
                }
                ]
            }
        },
        methods: {
            getImgUrl(pic) {
                return require('~/assets/img/'+pic);
            },
            translate(lang) {
                this.lang = lang;
                this.$store.commit('SET_LANG', lang.locale);
                this.$i18n.locale = lang.locale;
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>