<!-- =========================================================================================
    File Name: Exchange.vue
    Description: ExchangeLayout
========================================================================================== -->
<template>
    <div>
        <navigation-bar />
        <div class="container-fluid mtb15 no-fluid">
            <nuxt />
        </div>
    </div>
</template>
<script>

import NavigationBar from './exchange/Navbar'

export default {
    name: 'ExchangeLayout',
    components: {
        NavigationBar
    },
    data() {
        return {

        }
    }
}
</script>
<style>
</style>