<!-- =========================================================================================
    File Name: Deposits.vue
    Description: Deposits Page
========================================================================================== -->
<template>
  <div>
    <transaction :data="data" :selectCurrency="selectCurrency"/>
  </div>
</template>
<script>

import moment from 'moment';

import Transaction from '~/components/shared/Transaction';
import transactions from '~/mixins/transactions.js';

export default {
  name: 'Deposits',
  layout: 'ExchangeLayout',
  mixins: [ transactions ],
  components: {
    Transaction
  },
  data() {
    return {
      data: { 
        action: 'Deposit',
        title: this.$t('transactions.depositPlural'),
        header: this.$t('transactions.depositTrans'),
        notifications: [],
        wallets: [],
        options:[],
        selectedWallet: {},
        mops: [
          {
            name: this.$t('transactions.bankTransfer'),
          },
          {
            name: this.$t('transactions.blockchain'),
          }
        ],
        currentPage: 1,
        rows: 0,
        perPage: 10,
        paymentMethod: null,
        fields: [
          {
            key: 'date',
            label: this.$t('transactions.date'),
            formatter: (value, key, item) => {
              return moment(value).format('YYYY-MM-DD HH:MM:SS')
            },
            sortable: true
          },
          {
            key: 'currency',
            label: this.$t('transactions.currency'),
            sortable: true
          },
          {
            key: 'amount',
            label: this.$t('transactions.amount'),
            sortable: true
          },

          {
            key: 'mop',
            label: this.$t('transactions.mop'),
            sortable: true
          },
          {
            key: 'bank',
            label: this.$t('transactions.bank'),
            sortable: true
          },
          {
            key: 'account_name',
            label: this.$t('transactions.accountName'),
            sortable: true
          },
          {
            key: 'account_number',
            label: this.$t('transactions.accountNumber'),
            sortable: true
          },
          {
            key: 'status',
            label: this.$t('transactions.status'),
            formatter: (value, key, item) => {
              return this.getStatus(value);
            },
            sortable: true
          }
        ],
        items: []
      }
    }
  },
  methods: {
    selectCurrency(wallet_id) {
      this.data.selectedWallet = this.data.wallets.find(wallet => wallet.value === wallet_id);
    }
  },
  async created() {
    let wallets = await this.callApi('get', 'wallets');

    /**
     * Rearrange wallets
     * 
     */
    this.data.wallets = this.getWallets(wallets);

    this.data.items = await this.callApi('get', 'transactions/deposits');

    this.data.rows = this.data.items.length;
  }
}
</script>
