<!-- =========================================================================================
    File Name: Deposits.vue
    Description: Deposits Page
========================================================================================== -->
<template>
  <div>
    <transaction :data="data"/>
  </div>
</template>
<script>

import moment from 'moment';

import Transaction from '~/components/shared/Transaction';
import transactions from '~/mixins/transactions.js';

export default {
  name: 'Deposits',
  layout: 'ExchangeLayout',
  mixins: [ transactions ],
  asyncData ({ redirect }) {
    //return redirect('/user/profile');
  },
  components: {
    Transaction
  },
  data() {
    return {
      data: { 
        action: 'Transaction',
        title: 'Transactions Filter',
        header: 'All Transactions',
        options: [
          { item: 1, name: 'Deposits' },
          { item: 2, name: 'Withdrawals' }
        ],
        selected: [ 1, 2 ],
        fields: [
          {
            key: 'date',
            label: this.$t('transactions.date'),
            formatter: (value, key, item) => {
              return moment(value).format('YYYY-MM-DD HH:MM:SS')
            },
            sortable: true
          },
          {
            key: 'type',
            label: this.$t('transactions.type'),
            formatter: (value, key, item) => {
              return this.getType(value);
            },
            sortable: true
          },
          {
            key: 'amount',
            label: this.$t('transactions.amount'),
            sortable: true
          },
          {
            key: 'status',
            label: this.$t('transactions.status'),
            formatter: (value, key, item) => {
              return this.getStatus(value);
            },
            sortable: true
          }
        ],
        items: []
      }
    }
  },
  async created() {

    let deposits = await this.callApi('get', 'transactions/deposits');
    let withdrawals = await this.callApi('get', 'transactions/withdrawals');

    deposits = deposits.map((item) => {
      return {...item, type: 1};
    });
    withdrawals = withdrawals.map((item) => {
      return {...item, type: 2};
    });

    this.data.items = [...deposits, ...withdrawals];

    this.data.rows = this.data.items.length;
  }
}
</script>
